@model MVC_CRUD.Models.User
@{
    ViewBag.Title = "DeleteAccount";
}

<h2>Delete Account</h2>

<p>Are you sure you want to delete your account?</p>

@using (Html.BeginForm("DeleteAccountConfirmed", "UserAccountDelete", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-actions">
        <button type="submit" class="btn btn-danger">Delete Account</button>
        <a href="@Url.Action("Index", "Product")" class="btn btn-default">Cancel</a>
    </div>
}

